.gradle
/local.properties
/.idea/workspace.xml
.DS_Store

.idea/misc.xml

.idea/misc.xml

.idea/vcs.xml

.idea/vcs.xml

.idea/libraries/support_v4_19_0_1.xml

.idea/libraries/support_v4_19_0_1.xml
.idea/libraries/activeandroid.xml
.idea/libraries/javax_inject_1.xml
.idea/libraries/javawriter_2_3_0.xml
.idea/libraries/guava_15_0.xml
.idea/libraries/dagger_compiler_1_2_0.xml
.idea/libraries/dagger_1_2_0.xml
.idea/libraries/butterknife_4_0_1.xml
.idea/libraries/butterknife_4_0_1.xml
.idea/libraries/dagger_1_2_0.xml
.idea/libraries/dagger_compiler_1_2_0.xml
.idea/libraries/guava_15_0.xml
.idea/libraries/javawriter_2_3_0.xml
.idea/libraries/javax_inject_1.xml
.idea/libraries/volley_1_0.xml
app/app.iml

.idea/libraries/activeandroid_sources.xml
