<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rsd.tutor" >

    <application
        android:theme="@style/AppTheme"
        android:name=".KaiakoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:theme="@style/Theme.Preview"
            android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.WorksheetAssignedActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.WorksheetAssessmentActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.WorksheetCompletedActivity"
            android:parentActivityName=".activity.MainActivity" />

        <meta-data android:name="AA_DB_NAME" android:value="kaiako.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
    </application>

</manifest>
